.wrap_search_parts_auto
  .search_search_parts_auto
    %h4 Поиск автозапчастей:
    %ul.nav.nav-tabs
      %li
        %a{"data-toggle" => "tab", href: "#spares_search"} По номеру артикула
      %li
        %a{"data-toggle" => "tab", href: "#auto_search"} По машинам
    
      
   
      
      
    .clear
  .tab-content
    #spares_search.tab-pane.active
      = search_form_for @search_spares, url: search_spare_parts_path, html: {class: "form-search",  method: :post } do |f|
        .field
          //= f.label :title_cont
          = f.text_field :title_cont, :placeholder => "Ваш Артикул", class: "input-medium search-query"
        .form-actions
          = f.submit "поиск", class: "btn  btn-inverse"
      .clear 
      /.href_cart
      /  
      /  -if user_signed_in?
      /    = link_to @cart, remote: true, class: "cart_img" do
      /      %img{:src => "/assets/falkcon _cart.jpg", :alt => ""}/ 
      /      Корзина
      /      
      /  -else
      /    = link_to new_user_session_path, class: "cart_img" do
      /      %img{:src => "/assets/falkcon _cart.jpg", :alt => ""}/ 
      /      Корзина
      
      .clear 
      
    #auto_search.tab-pane ...
    