- unless current_page?( new_user_registration_path)
  .side_for_user.well 
    %ul 
      %li 
        %a{:href => "#"} 
          О компании

      %li 
        =link_to "Личный кабинет", user_url(@user)
      %li 
        %a{:href => "#"} 
          помощь
      %li 
        =link_to "На глвную", store_url
    
    - unless user_signed_in? || current_page?(new_user_session_path)

      .user_cab
    
        =render "users/form_user"
    - else
      - unless current_page?(new_user_session_path) 
        .user_cab
          %p.user_n
            %span.icon-user 
            %strong 
              = current_user.user_login
            
          %p.out
    
            =link_to  destroy_user_session_path, method: "delete" do
              %span.icon-arrow-left
              Выход
          .clear