Уважаемый(ая) 
= @order.name
Администрация магазина Falconmotors ,благодорит Вас за недавний заказ
= render @order.line_items
Когда Ваш заказ будет отправлен, мы пошлём Вам по эллктронной почте отдельное сообщение

