#cart_id{
  float: right;
  width: 800px;
  display: none;
  h1{
    overflow: hidden;
    span{
      display: block;
      float: left;
      margin: 0 20px 0 0;
    }
  }
  .cart_table{
  	.cart_table_title{
  		background: #CCFFCC;
  		th{
        background: #ca2938;
  			text-align: center;
        color:#f0f0f0;
  		}
  		
  	}
    #quan_cart{
      form{
      	padding: 5px 0 0 0;
        
	    .input{
	    	float: left;
	      input{
		    width: 50px;
		    padding: 0 0 0 2px;
         margin: 0;
		  }
	    }
	    .btn{
	    	float: left;
	    	margin: 0 0 0 5px;
	    }
      .hand{
        float: left;
        margin: 0 0 0 5px;
        position: relative;
        top: -7px;
      }
	  }
    }
    .total_line{
    	font-weight: bold;
    	background: #FFFFCC;
      .total_title{
       text-align: right;
      }
      .total_cell{
    	text-align: center;
      }

    }
    .cont{
      td{
      	text-align: center;
        background: #ebebeb;
      }
    }
  }
}
.right_spare_part{
  width: 750px;
  text-align: center;
}
//#notise_id{
//  display: none;
//}
