

.wrap_search_articles{
	  
  float: left;
  width: 1000px;
  background: url('/assets/setka_2.jpg') repeat-x ;
  padding: 13px 40px 0 40px;
  position: relative;
  z-index: 2;
  ul{border:none;}
  .info_falcon{ position: absolute; right: 20px; margin-top: 10px;}
     
  #menu_store{
    ul{ overflow: hidden; font-family: Tahoma, Arial, sans-serif; padding-left: 40px;
     li{float: left; margin: 0 15px 0 0 ;
       a{background: #707070; display: block; height: 28px; line-height: 28px; padding: 0 12px;  color: #FFF ; font-size: 12px; text-decoration: none; text-transform: uppercase; font-weight: bold;border:1px solid #c1c1c1; border-radius: 4px;
         &:hover{background: #333; color:#bc182b; font-weight: bold;}
       }
     }
     li.active{
      a{background: #333; color:#bc182b; }
     }
     
    }
  }
	#spares_search{
     overflow: hidden;
     
     .href_cart{
        position:relative; margin: 0 200px 0 0;  float: right; width: 750px ; height: 40px ; border-bottom: 4px solid #333;
       a{position: absolute; right: 0 ; bottom: 0; display: block; padding: 0;
         img{ 
         }
       }
     }
     form{
     	float: left;
     	margin-left: 1%;
      margin: 15px 0 0 1% ;
      background:#ca2d38;
        padding: 12px 15px 12px 12px;
        border-radius: 12px 12px 12px 12px;
        border: 1px solid  #4D4752;
     	.field, .form-actions{
     		display: inline-block;
     		margin: 0 10px 0 0;
     		padding: 0;
     	}
      .field{

       input{width: 550px; border-radius: 6px; border-color: #A9A4A9;}

      }
      .form-actions{
        background: none;
        border: none;
        margin-right: 0;
        padding: 0;
        font-family: Arial;
        button{margin: 0; }
      }
     }
   .usr_cart{ margin: 18px 0 0 50px; font-size: 13px; overflow: hidden; float: left; 
     a{ float: left; display: block; height: 50px; padding: 0 0 0 55px;  line-height: 38px;  background: url('/assets/shopping_cart.png/') no-repeat left; text-transform: uppercase; text-decoration: none; font-family: Tahoma, Arial, sans-serif; font-weight: bold; color:#f0f0f0; }
     span{ display: block; float: left; line-height: 50px;  padding-left: 5px; }
     .reg_log{}
   }
	}
}

.tab-content{
  
}