.wrap_search_parts_auto{
	overflow: hidden;

	h4{
		float: left;
		padding: 0;
		margin: 8px;
	}
	ul{
     margin-bottom: 10px;
	}
	#spares_search{
     overflow: hidden;
     form{
     	float: left;
     	margin-left: 3%;
     	.field, .form-actions{
     		display: inline-block;
     		margin: 0;
     		padding: 0;
     	}
     }
	}
}