.search_table1{
  .spare_title{
    width: 27%;
  }
  .spare_desc_title{
    width: 39%;
  }
  .spare_qan_title{
    width: 5%;
  }
  .spare_img_title{
    width: 5%;
  }
  .spare_price_title{
    width: 3%;
  }
  th{
    text-align: center;
  }
  .tab {
    padding: 3px 0 ;
    

  }
 } 
  td{
	
    font-weight: normal;
  }
  .search_table2{
    margin-bottom: 0;

  }

.tab{
     padding: 0 ;
     td{
     text-align: left;
     padding: 0 0 0 10px;
     vertical-align: middle;
     
     form{
      margin-bottom: 0 ;
     }
   }
   .part_view{
    width: 27%;
   }
   .part_view_desc{
    width: 39%;
   }
   .part_view_img{
    width: 6%;
   }
   .part_view_price{
    width: 6%;
   }
   .part_view_quan{
     width: 6%;
   }
  } 