// 

.left_sidebar{
	margin: 80px 0 0 0;
}

// new

.form_spare_part{
	.input{
		margin: 20px 0 0 0;
		input, textarea{
			width: 350px;
		}
		.numeric{
			width: 100px;
		}
		label{
			padding: 0.2em 15px 0 0 ;
		}


	}
}
.title_spare{

}