// 

.left_sidebar{
	
}

// new

.form_spare_part{
	.input{
		margin: 20px 0 0 0;
		input, textarea{
			width: 350px;
		}
		.numeric{
			width: 100px;
		}
		label{
			padding: 0.2em 15px 0 0 ;
		}


	}
}
.title_spare{

}



//spare_part. index 

.index_part_table{
   float: left;
	form{
		margin: 0;
	}
   th{

   }

   #add_quantity_form{
   	  
   	  height: auto;
   	  form{
   	   overflow: hidden;
   	  }  
   	  .input{
   	    margin:0;
   	    float: left;
   	    input{
   	      width: 35px;
   	      padding: 2px 4px 0 0;
   	    }
   	    
   	  }
   	 .add_subm {
   	 	
   	 	margin: 0 0 0 3px;
   	 }

   } 
}
  