.info_block{
   padding-top: 0;
  float: right;
   position: relative;
  margin-right: 30px;
  font-size: 14px;
	
  background: none;
  width: 700px;
  height: 400px;
  border-radius: 8px;
  border:none;
  box-shadow: none;
  
  h2{ background:   ; position:absolute; padding: ;  text-align:center; ; border:; border-radius: 12px 12px 12px 12px ; margin:0 0 0 200px; font-family: Arial; font-size: 22px; text-transform: uppercase;  color:#f0f0f0; 
    span.br{background:; display: block; color:#f0f0f0; border-radius: 12px; border:; background:; padding: 10px; }
    span.cont_s{display: block; border-radius: 6px; border:; background: ; color: #fff; line-height: 25px; padding-top: 4px;}
  }
  //.univ_item{position: absolute; 
    
   //{ border: 1px solid #999;padding: 15px 10px;width: 100px; font-weight: bold; text-decoration: none; text-transform: uppercase; font-size: 12px; text-align: center; display: block;  background: #333; color:#f0f0f0;  border-radius:12px; border:none;
   // -webkit-box-shadow: -1px 0px 29px 3px rgba(240,240,240,0.92);
   // -moz-box-shadow: -1px 0px 29px 3px rgba(240,240,240,0.92);
   //  box-shadow: -1px 0px 29px 3px rgba(240,240,240,0.92);
   //&:hover{
   //  padding: 25px 20px;

   //  border-color: #ca2d38; color:#fff;
   //  -webkit-box-shadow: -1px 0px 59px 5px rgba(240,240,240,0.92);
   //  -moz-box-shadow: -1px 0px 59px 5px rgba(240,240,240,0.92);
   //  box-shadow: -1px 0px 59px 5px rgba(240,240,240,0.92);
   //  span{font-size: 13px;}
   //}
   //  span{
   	  	
   //	  }
   //   img{
   //   	display: block; width: 60px ; height: 45px; border:5px solid #fff; float: left; margin:0 0 5px 13px;
   //   }
   //  }
   //}
   //.lf{ top:180px; left:220px;}
   //.lfb{ top:180px; left: 395px; }
   //.rt{ top:110px; left: 65px;}
   //.rtb{ top :110px; right:65px; 
     
   //}
  .cont_univ{margin: 80px 0 0 100px;
    ul{ position: relative;}
   }
  #nav-shadow li {

      margin-right: 15px;
     
      float: left;
      padding: 0;
      background: none;
      border: none;
      text-align: center;
      a,  a:visited,  a:hover {
         width: 100px;
        height: auto;
        
        overflow: hidden;
       
        display: block;
       }
       a{ border: 1px solid #999;background: url("/assets/ser_bg.png");padding: 0 5px 15px ;overflow: hidden; text-align: center; color:#ffffff; text-decoration: none; font-size: 11px; font-weight: bold; text-transform: uppercase; border-radius: 6px;
          -webkit-box-shadow: -1px 0px 29px 3px rgba(240,240,240,0.92);
          -moz-box-shadow: -1px 0px 29px 3px rgba(240,240,240,0.92);
           box-shadow: -1px 0px 29px 3px rgba(240,240,240,0.92);
        &:hover{ height: auto; position: absolute; width: 110px; top:-10px; padding: 0 10px; font-size: 12px;
                 border-color: #ca2d38; color:#fff;
                 -webkit-box-shadow: -1px 0px 59px 5px rgba(240,240,240,0.92);
                 -moz-box-shadow: -1px 0px 59px 5px rgba(240,240,240,0.92);
                 box-shadow: -1px 0px 59px 5px rgba(240,240,240,0.92);
                 span{font-size: 13px;}
          img{border:10px solid #fff; margin-top: 20px;}
          span{margin-bottom: 15px;}
        }
        span{display: block;}
        img{
         display: block; width: 60px ; height: 45px; border:5px solid #fff; margin: 15px 0 5px 15px;  
      }
       }
      }
}  
