.devise_wrap{
 position: absolute; 
 top: -140px;
 z-index: 1111;
 padding: 100% 100% 28% 106%;
  margin:-100% -48%  -50%  -52%;
  left:-350px;
 background: url('/assets/bgser_3.png');
 overflow: hidden;
}

.registr_box{
	border:8px solid #c6c6c6;
	border-radius: 12px;
	width: 450px;
	background: url('/assets/ser_bg.png');
  border:8px solid #ca2d38;
  border-left:1px solid #ca2d38; 
  border-right:1px solid #ca2d38;
  padding: 6px 10px; 
  position: relative;
  

	h2{   border-bottom: 8px solid #ca2d38; text-align: center; color:#F0F0f0; margin: 0; padding: 0; font-size: 24px; border-radius: 12px 12px 16px 16px; border-left:8px solid #333; border-right: 8px solid #333;}
    form{overflow: hidden; padding:20px 15px 0 15px ; 
         input{ border:1px solid #666; border-radius: 6px;}
      .input{overflow: hidden;
      	#user_legal_entity{margin: 0; padding: 0; height: 28px !important; outline: none;}
        label{
        	float: left;
        	display: block;
        	width: 160px;
        	text-align: right;
        	margin-right: 10px;
        	height: 30px;
        	line-height: 30px;
        	font-family: Arial;
        	font-weight: bold;
        	text-transform: uppercase;
        	color:#f0f0f0;
        	font-size: 12px;
        }

      }

      .form-inputs{
        background: url(/assets/bgser_3.png);
      	margin: 0 auto;
      	
      	float: left;
       .user_remember_me{
         padding-left: 120px;
         label{
           width: 120px; line-height: 20px;
           input{width: 15px; height: 15px;}
         }
        }
      }
      .form-actions{
         
      	width: 90%;
      	float: left;
      	text-align: center;
        a.vh{display: block; width: 60px; margin: 10px auto;}
      }
    }


}

 .flcn_mtr{
      
      h3{background: ; position: absolute; bottom: -20px; color:#f0f0f0;  left:180px; border-radius: 12px;  text-transform: uppercase; font-size: 12px;  width:150px;
        span{font-weight: normal;}
        .lg_span{display: block; position: absolute; width: 78px; height: 22px; background:url('/assets/registr-logo.png') no-repeat center top; bottom:-13px; left:-16px;}
      }
    }