#search_order{ color:#f0f0f0;
   th.dt{width:40px;}
   .sxl_1{width: 87px;}
   .sxl{width: 86px;}
   td.dt_2{font-size: 10px;}
   .sxxx {width:250px; text-align: left;}
   .sxxx_1 {width:253px; text-align: left;}
   .cl{width: 21px;}
  .t_2{
     .md{vertical-align: middle;}
  	.ord{padding:0;
      table{ border-left: none ; height: inherit !important;
      	margin: 0; 
      	tr{
          dt_2{}
      	  td.b_n{border-left:none; }
      	}
      	

      	#t_3{
      	  td{padding: 0;}
            
      	}
      }
  	}
  }
  table{
  	
  	tr{
  	  th{text-align: center;  vertical-align: middle; font-size: 11px; padding: 5px;}
  	  td{ text-align: center; padding: 5px; 
	  	  
        input{width: 100px !important; margin: 0; }
	  	}
	  	
  	  
  	}
  }
}