
.info_block.well
  -@category.each do |cat|
    %h2 
      %span.br 
        %span.cont_s
          = cat.name
    
    .cont_univ
      %ul#nav-shadow
        -cat.children.each_with_index do |chil, index|
          %li{class: "univ_#{index} well"}
            =link_to  chil do
              = image_tag chil.image, class: "msl"
              %span 
                = chil.name
              
      .clear