
.info_block.well
  .store_inf
    %p 
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, inventore, aperiam, et repudiandae nam molestias eos dicta temporibus eaque architecto ut quae doloribus rem voluptas eligendi optio iure exercitationem quod quam laboriosam maiores magnam modi eum animi perferendis laudantium excepturi atque dolorem aliquam reprehenderit sint libero tempora vero eveniet accusamus quis quibusdam nisi perspiciatis ad quisquam sapiente dolor porro recusandae voluptates repellat ratione. Mollitia, reprehenderit, fuga, sed, fugiat saepe iure velit eligendi deserunt laudantium repudiandae iusto asperiores reiciendis! Magnam, tempore, molestias, quisquam reprehenderit fuga adipisci at eos quam quis esse quae commodi rerum repellendus similique tempora cum sapiente labore nesciunt earum ut asperiores ducimus illum quo id debitis fugiat omnis obcaecati deleniti et officiis. Sequi, laborum, fugiat modi consequatur pariatur obcaecati neque laboriosam mollitia aspernatur nostrum ipsam molestiae doloribus necessitatibus non voluptas. Temporibus, harum, provident, quidem officia fugiat mollitia a autem nam non veritatis ullam ipsam ut suscipit ea reprehenderit excepturi aperiam tenetur animi cupiditate ratione. Molestias, id aliquam voluptatibus fuga earum esse aut illum incidunt autem! Debitis, laudantium, vero! Incidunt, sunt, repellendus, laboriosam fugiat nesciunt distinctio quas voluptatem labore excepturi illum nobis earum doloremque eum nulla nisi debitis ea repudiandae temporibus aspernatur laborum explicabo sequi animi saepe magnam voluptatum.
  -@category.each do |cat|
    %h2 
      %span.br 
        %span.cont_s
          = cat.name
    
    .cont_univ
      %ul#nav-shadow
        -cat.children.each_with_index do |chil, index|
          %li{class: "univ_#{index} well"}
            =link_to  chil do
              = image_tag chil.image, class: "msl"
              %span 
                = chil.name
              
      .clear